.App {
  /* text-align: center; */
  margin: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card{
  /* background-color: red; */
  text-align: left;
}

.grids{
  margin: 20px;
}

.btn-div-1{
  width: 100%;
  height: 10%;
  background-color: aquamarine;
  border-radius: 5px;
  text-align: center;
}

.btn-1{
  color: black;
  font-weight: bold;
}

.btn-div-2{
  margin-top: 10px;
  width: 100%;
  height: 10%;
  background-color: purple;
  border-radius: 5px;
  text-align: center;
}

.btn-2{
  font-weight: bold;
  color: red;
}

img{
  width: 100px;
  height: 100px;
}

.company-info{
  margin-top: 5px;
  height: 100px;
}